capa_red/nodered_data/flows.json
[
    {
        "id": "85c510944835551c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5c9fa11065a8bb7b",
        "type": "mqtt-broker",
        "name": "Mi Broker Mosquitto",
        "broker": "192.168.0.137",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a598374b81662888",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e97e014502c44590",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "36a4b5d59f826639",
        "type": "ui_group",
        "name": "Temp1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b580f68bd438ad5",
        "type": "ui_group",
        "name": "temp2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f87122eb1ad2fe44",
        "type": "ui_tab",
        "name": "Sensores",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6cd1ae6e6754b112",
        "type": "ui_group",
        "name": "Mi jardin",
        "tab": "f87122eb1ad2fe44",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7cc0d09c979ebc06",
        "type": "mqtt in",
        "z": "85c510944835551c",
        "name": "",
        "topic": "escom/iot/equipo/jardin/humedad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5c9fa11065a8bb7b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 670,
        "y": 140,
        "wires": [
            [
                "6e8864804dde0912"
            ]
        ]
    },
    {
        "id": "c25392295b5ebe30",
        "type": "mqtt out",
        "z": "85c510944835551c",
        "name": "",
        "topic": "escom/iot/equipoX/jardin/bomba/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5c9fa11065a8bb7b",
        "x": 840,
        "y": 600,
        "wires": []
    },
    {
        "id": "79ecb9d7294c97db",
        "type": "mqtt in",
        "z": "85c510944835551c",
        "name": "",
        "topic": "escom/iot/equipoX/jardin/deposito/nivel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5c9fa11065a8bb7b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 690,
        "y": 320,
        "wires": [
            [
                "c713532c32dd29e7"
            ]
        ]
    },
    {
        "id": "6e8864804dde0912",
        "type": "ui_gauge",
        "z": "85c510944835551c",
        "name": "",
        "group": "6cd1ae6e6754b112",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad tierra",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "c713532c32dd29e7",
        "type": "ui_gauge",
        "z": "85c510944835551c",
        "name": "",
        "group": "6cd1ae6e6754b112",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nivel tinaco",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "3dfedf248e62d7c5",
        "type": "ui_switch",
        "z": "85c510944835551c",
        "name": "",
        "label": "Bomba de agua",
        "tooltip": "",
        "group": "6cd1ae6e6754b112",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 680,
        "y": 500,
        "wires": [
            [
                "c25392295b5ebe30"
            ]
        ]
    },
    {
        "id": "108090942b1347a0",
        "type": "inject",
        "z": "85c510944835551c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "escom/iot/equipo/jardin/humedad",
        "payload": "45",
        "payloadType": "num",
        "x": 510,
        "y": 240,
        "wires": [
            [
                "6e8864804dde0912"
            ]
        ]
    }
]